<div>
  <div class="container">
    <div class="section content-holder">
      <div class="row">
        <div class="nav-wrapper col m4 right">
          <form>
            <div class="input-field">
              <input id="search" type="search" ng-model="searchBarang" required>
              <label for="search"><i class="mdi-action-search"></i> Cari barang</label>
              <i class="mdi-navigation-close"></i>
            </div>
          </form>
          </div>
    
        </div>
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s3">
            <div class="list-item">
              <a href="./" class="btn col m12 btn-flat waves-effect"><i class="mdi-editor-insert-chart"></i> Dashboard</a>
              <a href="./barang" class="btn col m12 waves-effect"><i class="mdi-action-shopping-cart"></i> List Barang</a>
              <a href="./pengiriman" class="btn col m12 btn-flat waves-effect"><i class="mdi-maps-local-shipping"></i> List Pengiriman</a>
            </div>
          </div>
          <div ng-if="!singleItem">
            <button class="btn blue waves-effect right" ng-click="addBarang()">Tambah Barang</button>
          </div>
          <div class="col s9">
            <div ng-if="!singleItem">
              <table class="barang">
                <thead>
                  <tr>
                    <th class="header" data-field="no">Nomor</th>
                    <th class="header" data-field="name">Nama Barang</th>
                    <th class="header" data-field="stock">Stok</th>
                    <th class="header option" data-field="option">Options</th>
                  </tr>
                </thead>

                <tbody>
                  <tr ng-if="isLoading">
                    <td>Fetching Data...</td>
                  </tr>
                  <tr ng-repeat='brg in allBarang | filter:searchBarang' >
                    <td>{{ $index }}</td>
                    <td>{{ brg.nama }}</td>
                    <td>{{ brg.stok }}</td>
                    <td>
                      <a class="waves-effect btn" href="barang/{{ brg.id }}"><i class="mdi-content-create"> </i> Edit</a>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>

            <div ng-if="singleItem">
              <div ng-if="isLoading2">
                <td>Fetching Data...</td>
              </div>

              <div ng-if="!isLoading2">
                <div class="row">
                  <form class="col s12">
                    <input type="hidden" value="{{ barang.id }}" name="id">
                    <div class="row">
                      <div class="input-field col s6">
                        <input id="nama_barang[]" type="text" class="validate" name="nama" placeholder="Nama Barang" ng-model="barang.nama">
                        <label class="active" for="nama_barang[]">Nama Barang</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s2">
                        <input id="stok_barang[]" type="text" class="validate" name="stock" placeholder="Stok Barang" ng-model="barang.stok">
                        <label class="active" for="stok_barang[]">Stok Barang</label>
                      </div>
                    </div>
                    <input type="submit" class="btn" value="Edit Barang" ng-click="editBarang()">
                  </form>
                </div>
              </div>

            </div>

<!--             <ul class="pagination">
              <li class="disabled"><a href="#!"><i class="mdi-navigation-chevron-left"></i></a></li>
              <li class="active"><a href="#!">1</a></li>
              <li class="waves-effect"><a href="#!">2</a></li>
              <li class="waves-effect"><a href="#!">3</a></li>
              <li class="waves-effect"><a href="#!">4</a></li>
              <li class="waves-effect"><a href="#!">5</a></li>
              <li class="waves-effect"><a href="#!"><i class="mdi-navigation-chevron-right"></i></a></li>
            </ul> -->
          </div>
        </div>

      </div>
    </div>
  </div>