	<div class="container">
		<div class="section content-holder dashboard">
		</div>
		<!--   Icon Section   -->
		<div class="row">
			<div class="col s3">
				<ul class="list-item">
				 <li ng-repeat="nav in navigation">
				 	<a href="{{ nav.url }}" class="btn col m12 waves-effect "><i class="{{ nav.icon }}"></i> {{ nav.name }}</a>
				 </li>
				</ul>
			</div>

			<div class="col s9">
				<div class="row">
					<div class="col s4">
						<div class="card teal">
							<div class="card-content white-text">
								<span class="card-title">Total Barang</span>
								<h3>12</h3>
							</div>
						</div>
					</div>
					<div class="col s4">

						<div class="card teal">
							<div class="card-content white-text">
								<span class="card-title">Total Pengiriman</span>
								<h3>44</h3>
							</div>
						</div>
					</div>
					<div class="col s4">
						<div class="card teal">
							<div class="card-content white-text">
								<span class="card-title">Total Revenue</span>
								<h5>Rp 100.000.000</h45>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<ul>
	<li ng-repeat='nav in navigation'><a href="{{ nav.url }}">{{ nav.name }}</a></li>
</ul>