<div class="container m-t-70">
	<div class="section content-holder dashboard">
		<!--   Icon Section   -->
		<div class="row">
			<div class="col s3">
				<div class="list-item">
					<a href="./" class="btn col m12 waves-effect"><i class="mdi-editor-insert-chart"></i> Dashboard</a>
					<a href="./barang" class="btn col m12 btn-flat waves-effect"><i class="mdi-action-shopping-cart"></i> List Barang</a>
					<a href="./pengiriman" class="btn col m12 btn-flat waves-effect"><i class="mdi-maps-local-shipping"></i> List Pengiriman</a>
				</div>
			</div>
			<div class="col s9">
				<div class="row">
					<div class="col s4">
						<div class="card teal">
							<div class="card-content white-text">
								<span class="card-title">Total Barang</span>
								<h3>{{ allBarang.length }}</h3>
							</div>
						</div>
					</div>
					<div class="col s4">

						<div class="card teal">
							<div class="card-content white-text">
								<span class="card-title">Total Pengiriman</span>
								<h3>{{ allPengiriman.length }}</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>