<div>
  <div class="container">
    <div class="section content-holder">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s3">
          <div class="list-item">
            <a href="./" class="btn col m12 btn-flat waves-effect"><i class="mdi-editor-insert-chart"></i> Dashboard</a>
            <a href="./barang" class="btn col m12 btn-flat waves-effect"><i class="mdi-action-shopping-cart"></i> List Barang</a>
            <a href="./pengiriman" class="btn col m12 waves-effect"><i class="mdi-maps-local-shipping"></i> List Pengiriman</a>
          </div>
        </div>

        <div class="col s9">
          <div ng-if="!singleItem && !isAddBarang" class="row">
            <div class="col s3 m-t-25">
              <a href="./pengiriman/add" class="btn blue waves-effect">Tambah Pengiriman</a>
            </div>
            <div class="col s9">
              <form>
                <div class="input-field">
                  <input id="search" type="search" ng-model="filterObj.searchBarang" required>
                  <label for="search"><i class="mdi-action-search"></i> Cari barang</label>
                  <i class="mdi-navigation-close"></i>
                </div>
              </form>
            </div>
          </div>
          <div ng-if="singleItem">
            <h2>Single item Pengiriman dengan id = 1</h2>

            <h3>id = {{ pengiriman.id }}</h3>
            <h3>id user = {{ pengiriman.id_user }}</h3>
            <h3>id barang = {{ pengiriman.id_barang }}</h3>
            <h3>tanggal kirim = {{ pengiriman.tanggal_kirim }}</h3>
            <h3>nama = {{ pengiriman.nama }}</h3>
            <h3>alamat = {{ pengiriman.alamat }}</h3>
            <h3>kode pos = {{ pengiriman.kode_pos}}</h3>
            <h3>telepon = {{ pengiriman.telepon }}</h3>
            <h3>email = {{ pengiriman.email }}</h3>
            <h3>status = {{ pengiriman.status }}</h3> 
          </div>
          <div ng-if="!singleItem">
            <table class="barang">
              <thead>
                <tr>
                  <th data-field="no">No</th>
                  <th data-field="barang">Nama Barang</th>
                  <th data-field="count">Jumlah</th>
                  <th data-field="ecommerce">Via</th>
                  <th data-field="nama">Nama</th>
                  <th data-field="telepon">Telepon</th>
                  <th data-field="tanggal">Tanggal</th>
                  <th data-field="status">Status</th>
                  <th data-field="option">Option</th>
                  <th data-field="change-status">Change Status</th>
                </tr>
              </thead>

              <tbody>
                <tr ng-if="isLoading">
                  <td>Fetching Data...</td>
                </tr>
                <tr ng-repeat="png in allPengiriman | filter:filterObj.searchBarang">
                  <td>{{ $index+1 }}</td>
                  <td>{{ png.nama }}</td>
                  <td>12</td>
                  <td><img class="ecomm-icon" src="img/tokopedia.png"></td>
                  <td>{{ png.nama }}</td>
                  <td>{{ png.telepon }}</td>
                  <td>{{ png.tanggal_kirim }}</td>
                  <td>{{ png.status }}</td>
                  <td>
                    <a href="pengiriman/{{ png.id }}" class="waves-effect btn"><i class="mdi-image-remove-red-eye"></i></a>
                  </td>
                  <td>
                    <button ng-repeat="status in [0,1,2,3,4]" ng-click="updateStatus(png.id, status)">{{ status }}</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>